/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.App{
  margin: 0;
  padding: 0;
  background-image: url("images/main_bg.jpg");
  background-position: center;
}

#main {
  margin: 0;
  padding: 0;
  height: 100vh;
  color: #fff;

  /* display: flex; */

  /* margin-top: 0px; */
  background-color: rgba(0,0,0,0.55);
  overflow-y: hidden;
  
}

.vertCenter{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main h3 {
  padding: 15px 0 0;
  margin: 0;
  font-size: 55px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 100;
  letter-spacing: 3px;
  cursor: pointer;
}

#main a, #main a:visited{
  text-decoration: none;
  color: white;
}

#main a:active{
  color: #ccc;
}

.subPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#linksPage ul{

}

.toTop{
  animation: .5s ease-in 0s slideToTop;
}

.subPageBox{
  background-color: rgba(0,0,0,0.5);
  margin-top: 15vh;
  font-family: 'Times New Roman', Times, serif;
  list-style: none;
  text-align: center;
  padding: 0;
  letter-spacing: 2px;
  line-height: 50px;
  border-radius: 1em;
  width: 30vw;
  min-width: 300px;
}

.subPageBox ul {
  margin: 0;
  padding: 0 15px 0;
}

.slowFade{
  animation: .75s ease-in  0s fadeIn;
}

.fadeIn{
  animation: .5s ease-in  0s fadeInFast;
}

.subPage h4{
  /* background-color: #eee; */
  /* color: #000; */
  margin: 0;
  font-size: 25px;
  padding: 13px 0 0;
}

.subPageBox h5{
  font-size: 18px;
  font-weight: 100;
  padding: 0;
  margin: 0;
  /* position: relative;
  z-index: 10; */
}

.subPageBox li {
  list-style: none;
}

.playlist{
  /* position: relative;
  z-index: 1;
  transform: translateY(-40px); */
}

.card{
  background-color: rgba(0,0,0,0);
}

.card-body{
  background-color: rgba(255,255,255,0.1);
}

.playlist img, .card-body img{
  /* border-radius: 1em; */
  width: 120px;
  padding: 0 3px;
  /* visibility: hidden; */

}

#worksPage #accordion button{
  /* text-decoration: none; */
  color: #fff;
}

@keyframes slideToTop {
  from {
    transform:translateY(42vh)
  }
  to {
    transform:translateY(0vh)
  }
} 

@keyframes fadeIn {
  0% {
    transform:scale(0.01) 
  }

  50% {
    transform:scale(0.01) 
  }

  100% {
    transform:scale(1) 
  }
}

  @keyframes fadeInFast {
    from {
      transform:scale(0.01) 
    }
    to {
      transform:scale(1) 
    }
} 